body {
  margin: 0;
  font-family: Arial;
}

/* ------------------ HORIZONTAL MENU ------------------ */
.horizontal-section {
  margin-bottom: 50px;
}

.nav-horizontal {
  background: #333;
  overflow: hidden;
}

.nav-horizontal a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

.nav-horizontal a:hover {
  background: #ddd;
  color: black;
}

/* ------------------ VERTICAL MENU ------------------ */
.vertical-section {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.nav-vertical {
  width: 200px;
  background: #333;
  height: 250px;
  overflow: auto;
}

.nav-vertical a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

.nav-vertical a:hover {
  background: #575757;
}

/* ------------------ BURGER MENU ------------------ */
.burger-section {
  margin-top: 40px;
}

.nav-burger {
  overflow: hidden;
  background-color: #333;
}

.nav-burger a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-burger a:hover {
  background-color: #ddd;
  color: black;
}

.nav-burger .icon {
  display: none;
}

/* Responsive Burger Menu */
@media screen and (max-width: 600px) {
  .nav-burger a:not(:first-child) {
    display: none;
  }

  .nav-burger a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .nav-burger.responsive {
    position: relative;
  }

  .nav-burger.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .nav-burger.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
